<div class="calc-div">
  <div class="container">
    <div class="row">
      <div *ngIf="!result; else resTemp">
        <span class="res-div">
          {{ num1 || "0" }} {{ selectedOp }} {{ num2 }}
        </span>
      </div>
      <ng-template #resTemp>
        <div class="res-div">{{ result }}</div>
      </ng-template>
    </div>
  </div>
  <hr />
  <div class="input-div">
    <div class="row" style="text-align: center;">
      <div class="col-6">
        <div class="row" style="justify-content: flex-end;">
          <div class="col-4" *ngFor="let num of numArr; let i = index">
            <button
              class="btn-lg btn-primary"
              [ngClass]="{ 'btn-danger': i == 9, 'btn-success': i == 11 }"
              (click)="selectNo(num)"
            >
              {{ num }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-6 op-div">
        <div class="row">
          <div class="col-12" *ngFor="let op of opArr">
            <button class="btn-lg btn-secondary" (click)="opSelected(op)">
              {{ op }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
