.calc-div {
  width: 30vw;
  border: solid;
  border-color: rgb(34, 33, 33);
  border-radius: 5px;
  padding: 10px;
}

.input-div {
  display: flex;
}

.input-div input,
button {
  margin: 10px;
}

.op-div {
  display: flex;
}

.op-div button {
  margin: 10px;
}

.res-div {
  font-weight: bold;
  font-size: 40px;
  word-break: break-all;
}
